:root {
    /* Neutral colors */
    --neutral-900: #091540;
    --neutral-800: #202535;
    --neutral-700: #333742;
    --neutral-600: #535868;
    --neutral-300: #c6c6c6;
    --neutral-200: #d6e2f5;
    --neutral-100: #eeeeee;
    --neutral-0:  #fbfdfe;
  
    /* Red colors */
    --red-400: #F25C54;
    --red-500: #E34840;
    --red-700: #c7231a;

    --bg-block:var(--neutral-0);
    --bg-theme-switcher:var(--neutral-100);
    --bg-border-main:var(--neutral-200);
    --bg-link:var(--neutral-0);
    --bg-active:var(--red-700);
    --bg-unchecked:var(--neutral-300);
    --bg-border-chackbox:var(--neutral-900);
    
    --logo-cl:var(--red-700); 
    --bor-main:#D6E2F5;
    --bor-tab:var(--neutral-200);
    --bor-btn:var(--neutral-300);

  
    /* txt */
    --txt-logo:var(--neutral-900);
    --txt-cl-main:var(--neutral-900);
    --txt-cl-title:var(--neutral-900);
    --txt-active:var(--neutral-0);
    --txt-cl-description:var(--neutral-600);
      
  
    /* Gradients */
    --gradient-bg: linear-gradient(to bottom, #ebf2fc, #eefbf9), linear-gradient(to bottom, #fff, #fff);
    --theme-img:url(../images/icon-moon.svg);
    
  }

  html.dark{
    --bg-block:var(--neutral-800);
    --bg-textarea:var(--neutral-800);  
    --bg-theme-switcher:var(--neutral-700);
    --bg-border-main:var(--neutral-600);
    --bg-link:var(--neutral-700);
    --bg-active:var(--red-400);
    --bg-border-chackbox:var(--neutral-200);
    --bg-unchecked:var(--neutral-600);
    
    --logo-cl:var(--red-400); 
    --bor-tab:var(--neutral-600);
    --bor-btn:var(--neutral-600);
  
    /* txt */
    --txt-logo:#fff;
    --txt-cl-main:var(--neutral-0);
    --txt-cl-title:var(--neutral-0);
    --txt-active:var(--neutral-900);
    --txt-cl-textarea:var(var(--neutral-200));
    --txt-cl-description:var(--neutral-300);
  
    /* Gradients */
    --gradient-bg: linear-gradient(to bottom, #04091b, #091540), linear-gradient(to bottom, #fff, #fff);
    --theme-img:url(../images/icon-sun.svg);
  }